

:root {
  --primary-color: rgb(185, 163, 219);
  --secondary-color: #8a2be2ba;
  --font-color: #252529;
  --heading-color: #fff;
  --color-light: #ffffff;
  --color-dark: #333333;
}

[data-theme="dark"] {
  --primary-color: #7871a3;
  --secondary-color: #989da8;
  --font-color: #ffffff;
  --bg-color: #19191f;
  --heading-color: #818cab;
  --color-light: #19191f;
  --color-dark: #dddddd;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafc;
  color: #595354;
  position: relative;
  overflow: hidden;
  background-color: var(--primary-color);
}


.theme_switch_container {
  background: #444;
  width: 80px;
  height: 40px;
  border-radius: 35px;
  overflow: hidden;
}

.theme_switch {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.theme_switch input {
  display: none;
}

.slider {
  background-color: #aaa;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.2s;
}

.slider::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 10px;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #444;
}

input:checked + .slider::before {
  transform: translateX(100%);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--heading-color);
  padding: 10px 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.header > .logo-container {
  display: flex;
  align-items: center;
}

.header > .logo-container > .logo-img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.logo-vid {
  width: 250px;
  height: 300px;
}

.header > .logo-container > .logo-text {
  font-size: 16px;
  font-weight: 700;
  color: var(--font-color);
}

.header > .logo-container > .logo-text > .logo-highlight {
  color: #65a9e5;
}

.content-container {
  width: 100%;
  height: 100%;
  height: calc(100vh - 60px);
  /* display: grid; */
  align-items: space-between;
  /* justify-content: center; */

  overflow: hidden;
}

.help-text {
  color: var(--font-color);
  text-align: center;
}

[data-peer="false"] .peers {
  visibility: hidden;
  height: 0;
}

[data-peer="true"] .no-peers {
  visibility: hidden;
  height: 0;
}

.no-peers {
  flex-direction: column;
  padding: 0 20px;
}

.network-icon {
  max-width: 300px;
}

.peers,
.no-peers {
  background-color: var(--bg-color);
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.peer {
  width: 120px;
  height: 120px;
}

.peer label {
  position: relative;
}

.peer label input[type="file"] {
  visibility: hidden;
  width: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.peer .icon-container {
  /* width: 40px; */
  /* height: 40px; */
  padding: 12px;
  background-color: rgb(75, 28, 136);
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  color: #ffffff;
  cursor: pointer;
}

.peer .icon {
  /* font-size: 24px; */
  fill: currentColor;
  width: 40px;
  height: 40px;
}

.peer-name {
  text-align: center;
  margin-top: 10px;
  color: var(--font-color);
}

/* Peer file progress indicator */

.progress {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 13px;
  clip: rect(0px, 80px, 80px, 40px);
  --progress: rotate(0deg);
  transition: transform 200ms;
}

.circle {
  width: 72px;
  height: 72px;
  border: 4px solid var(--font-color);
  border-radius: 40px;
  position: absolute;
  clip: rect(0px, 40px, 80px, 0px);
  will-change: transform;
  transform: var(--progress);
}

.over50 {
  clip: rect(auto, auto, auto, auto);
}

.over50 .circle.right {
  transform: rotate(180deg);
}

.details {
  text-align: center;
  /* padding: 0 20px; */
  height: 60px;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  background: transparent;
  color: var(--font-color);
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #595354; */
  will-change: opacity;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
  transition: opacity 0.3s ease-in;
}

.dialog-card {
  width: 90%;
  height: max-content;
  max-width: 380px;
  padding: 20px 20px 10px;
  background-color: var(--color-light);
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
  will-change: tranform;
  transform: scale(1);
  transition: transform 0.3s ease-in;
}

.dialog:not([show]) {
  opacity: 0;
  pointer-events: none;
}

.dialog:not([show]) .dialog-card {
  transform: scale(0.1);
  transition: transform 0.3s ease-in;
}
.dialog h2,
.dialog p,
.dialog span {
  color: var(--font-color);
}
.dialog h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.dialog p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dialog span {
  font-size: 14px;
}

.dialog .button-row {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dialog a.button {
  text-decoration: none;
}

.dialog .button {
  color: var(--font-color);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
}

.dialog .button:hover,
.dialog .button:focus {
  background-color: var(--bg-color);
}

.dialog input[type="text"] {
  border: none;
  background: var(--color-dark);
  padding: 10px;
  border-radius: 20px;
  width: 280px;
  color: #333333;
  font-size: 16px;
  outline: none;
}

.dialog input[type="text"]::placeholder {
  color: #555;
}

.dialog input[type="text"]:focus {
  background: var(--color-dark);
}

label {
  font-size: medium;
}

input.remote-input {
  padding: 10px;
  border-radius: 15px;
  outline: none;
}

button.call-btn {
  padding: 10px;
  background-color: #6c63ff;
  border: none;
  border-radius: 15px;
}

.active-users-panel {
  width: 300px;
  height: 100%;
  border-right: 1px solid #cddfe7;
}

.panel-title {
  margin: 10px 0 0 0;
  padding-left: 30px;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid #cddfe7;
  padding-bottom: 10px;
}

.active-user {
  padding: 10px 30px;
  border-bottom: 1px solid #cddfe7;
  cursor: pointer;
  user-select: none;
}

.active-user:hover {
  background-color: #e8e9eb;
  transition: background-color 0.5s ease;
}

.active-user--selected {
  background-color: #fff;
  border-right: 5px solid #65a9e5;
  font-weight: 500;
  transition: all 0.5s ease;
}

.icon-button {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  border: none;
  background: rgb(53, 54, 54);
  border-radius: 50%;
  outline: none;
}

i.icon {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
