body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafc;
  color: #595354;
  position: relative;
  overflow: hidden;
}

.header {
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.header > .logo-container {
  display: flex;
  align-items: center;
}

.header > .logo-container > .logo-img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.logo-vid {
  width: 250px;
  height: 300px;
}

.header > .logo-container > .logo-text {
  font-size: 26px;
  font-weight: 700;
}

.header > .logo-container > .logo-text > .logo-highlight {
  color: #65a9e5;
}

.content-container {
  width: 100%;
  height: 100%;
  height: calc(100vh - 89px);
  /* display: grid; */
  align-items: space-between;
  /* justify-content: center; */
  
  overflow: hidden;
}
.peers {
  background-color: rgb(195, 204, 204);
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.peer {
  width: 120px;
  height: 120px; 
}

.peer label input[type=file] {
  visibility: hidden;
  width: 0;
}


.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.peer .icon-container {
  /* width: 40px; */
  /* height: 40px; */
  padding: 12px;
  background-color: rgb(75, 28, 136);
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  color: #ffffff;
  cursor: pointer;
}


.peer .icon {
  /* font-size: 24px; */
  fill: currentColor;
  width: 40px;
  height: 40px;
}

.peer-name {
  text-align: center;
  margin-top: 10px;
}

.details {
  text-align: center;
  padding: 0 20px;
  height: max-content;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #595354; */
  will-change: opacity;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .4);
  z-index: 5;
  transition: opacity .3s ease-in;
}

.dialog-card {
  width: 90%;
  height: max-content;
  max-width: 380px;
  padding: 20px 20px 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;  
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
  will-change: tranform;
  transform: scale(1);
  transition: transform .3s ease-in;
}


.dialog:not([show]) {
  opacity: 0;
  pointer-events: none;
}


.dialog:not([show]) .dialog-card {
  transform: scale(0.1);
  transition: transform .3s ease-in;
}

.dialog h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.dialog p {
  margin: 0;
  text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dialog span {
  font-size: 14px;
}

.dialog .button-row {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dialog a.button {
  text-decoration: none;
}

.dialog .button {
  color: #8a2be2ba;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: .2s;
  cursor: pointer;
  outline: none;
}

.dialog .button:hover,
.dialog .button:focus {
  background-color: #9063ba63;
}

.dialog input[type=text] {
  border: none;
  background: #e4e4e4;
  padding: 10px;
  border-radius: 20px;
  width: 280px;
  color: #555;
  font-size: 16px;
  outline: none;
}

.dialog input[type=text]::placeholder {
  color: #555;  
}

.dialog input[type=text]:focus {
  background: #eeeeee;
}

label {
  font-size: medium;
}

input.remote-input {
  padding: 10px;
  border-radius: 15px;
  outline: none;
}

button.call-btn {
  padding: 10px;
  background-color: #6c63ff;
  border: none;
  border-radius: 15px;
}

.active-users-panel {
  width: 300px;
  height: 100%;
  border-right: 1px solid #cddfe7;
}

.panel-title {
  margin: 10px 0 0 0;
  padding-left: 30px;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid #cddfe7;
  padding-bottom: 10px;
}

.active-user {
  padding: 10px 30px;
  border-bottom: 1px solid #cddfe7;
  cursor: pointer;
  user-select: none;
}

.active-user:hover {
  background-color: #e8e9eb;
  transition: background-color 0.5s ease;
}

.active-user--selected {
  background-color: #fff;
  border-right: 5px solid #65a9e5;
  font-weight: 500;
  transition: all 0.5s ease;
}


.icon-button {
  display: flex;  
  align-items: center;
  height: 60px;
  width: 60px;
  border: none;
  background: rgb(53, 54, 54);
  border-radius: 50%;
  outline: none;
}

button.drop-call {
  background: rgb(224, 61, 61);
}

button.pick-call {
  background: rgb(49, 201, 112);
}

i.icon {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.end-call {
  background-image: url(./img/end-call.svg);
  
}

.switch-camera {
  background-image: url(./img/switch-camera.svg);
}

.video-off {
  background-image: url(./img/video-off.svg);
}

.mic-off {
  background-image: url(./img/mic-off.svg);
}